extends ./main-layout.pug

block content
    ul.collapsible
        li
            .collapsible-header 
                strong Input
            .collapsible-body
                .row
                    .input-field.col.s12
                        label(for="panelAmount") Solar panel amount
                        input(type="number", id="panelAmount")
                    .input-field.col.s12
                        label(for="inverterAmount") Inverter amount
                        input(type="number", id="inverterAmount")
                    .input-field.col.s12
                        label(for="mppAmount") MPP Tracker amount
                        input(type="number", id="mppAmount")
                    .input-field.col.s6
                        label(for="stringMin") Smallest string size
                        input(type="number", id="stringMin")
                    .input-field.col.s6
                        label(for="stringMax") Biggest string size
                        input(type="number", id="stringMax")
                    .input-field.col.s12
                        button.btn(onclick="calc();") Calculate
    .container#result
block script
    script
        include ../js/index.js
    